:root {
  --brand-primary: #db901f;
  --grey-light: #2E2E2E;

  --box-shadow-0percent: #b6781b19;
  --box-shadow-100percent: #857e7521;
}

.nextStepButton {
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: -15px;
  transform: rotate(180deg);
}

.nextStepIcon {
  fill: var(--grey-light);
  font-size: x-large;
  transform: rotate(90deg);
}

/* Styles for .remain-steps class */
.remain-steps:before {
  content: counter(stepNum);
  font-weight: 700;
}

.remain-steps:after {
  background-color: var(--grey-light);
}

/* Styles for .multi-steps class */
.multi-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 30px;
  transform: rotate(180deg);
}

.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  position: relative;
  color: var(--brand-primary);
  margin-bottom: 20px;
}

.multi-steps > li:hover {
  cursor: pointer;
}

.multi-steps > li:before {
  content: '✓';
  display: block;
  margin: 0 auto 4px;
  background-color: var(--brand-primary);
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--brand-primary);
  border-radius: 50%;
  color: white;
  transform: rotate(180deg);
}

.multi-steps > li:last-child {
  margin-bottom: 0;
}

.multi-steps > li.is-active:before,
.multi-steps > li.is-active ~ li:before {
  background-color: white;
  border-color: var(--brand-primary);
  color: var(--brand-primary);
  animation: pulse 2s ease-in infinite alternate;
}

.multi-steps > li.is-active ~ li {
  color: #808080;
}

.multi-steps > li.is-active ~ li:before {
  background-color: var(--grey-light);
  border-color: var(--grey-light);
  color: #808080;
}

.progress-title span {
  text-align: center;
  position: absolute;
  left: 50px;
  top: 10px;
  color: var(--grey-light);
  /* background-color: var(--box-shadow-0percent);
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px; */
  transform: rotate(180deg);
}

/* Styles for .is-complete class */
.is-complete {
  background: linear-gradient(to bottom, var(--brand-primary) 50%, var(--grey-light) 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: all 0.5s ease-out;
}

/* Keyframes for pulse animation */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--box-shadow-0percent);
  }
  100% {
    box-shadow: 0 0 0 10px var(--box-shadow-100percent);
  }
}

/* Styles for .progress-bar class */
.progress-bar {
  cursor: pointer;
  user-select: none;
  background-color: var(--grey-light);
  width: 7px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: calc(50% - 3px);
  height: 100%;
  z-index: -1;
}

/* Styles for .progress-bar--success class */
.progress-bar--success {
  background-color: var(--brand-primary);
}

/* Styles for .progress-bar__bar class */
.progress-bar__bar {
  background-color: var(--grey-light);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 500ms ease-out;
}
