* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden; /* on laptop we can scroll on the page with trackpad and it not cool */
}

.webgl {
    position: fixed; /* for no scrolling on page */
    top: 0;
    left: 0;
    outline: none; /* for no scrolling on page */
}